<html lang="en"
			ng-app="SoodaApp"
			ng-controller="SoodaCtrl">
	<head>
		<title>sooda.io</title>
		<meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
		<meta name="apple-mobile-web-app-title" content="sooda.io" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon.png">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="stylesheets/semantic.min.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />

		<script src="javascripts/angular.min.js"></script>
	</head>
	<body>
		<div class="main">
			<div class="logo">
				sooda.io
			</div>
            <div ng-hide="showInstall">
                <div ng-show="googleAuthed">
                    <div class="ui input email">
                        <input type="text" placeholder="Gmail address" />
                    </div>
                </div>
                <div ng-show="googleAuthed">
                    <div class="ui input password">
                        <input type="text" placeholder="Password" />
                    </div>
                </div>
                <div>
                    <button class="ui button login"
                            ng-click="login();">Login</button>
                </div>
            </div>
		</div>
		<div class="install"
				 ng-show="showInstall">
			<div>
				1. Click the share icon.
				<br />
				2. Add to home screen.
			</div>
			<div class="down-icon">
				⇣
			</div>
		</div>
		<script src="javascripts/index.js"></script>
	</body>
</html>
