<html lang="en">
	<head>
		<title>sooda.io</title>
		<meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
		<meta name="apple-mobile-web-app-title" content="sooda.io" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon.png">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="stylesheets/style.css" />
	</head>
	<body>
		<div class="main">
			sooda.io
		</div>
	</body>
</html>
