<menu></menu>
<action selected-index="selectedIndex"></action>
<div class="main-container ui inverted segment"
		 ng-show="messages.length > 0">
	<div class="ui inverted relaxed divided list">
		<div class="item"
				 ng-repeat="message in messages track by $index"
				 ng-if="!showUnread || (message.attrs.flags.indexOf('\\Seen') === -1)">
			<div class="content"
					 index="{{$index}}"
					 ng-click="getMessage($index,message.attrs.uid);"
					 ng-class="{seen : message.isSeen || message.attrs.flags.indexOf('\\Seen') >= 0,
					 					  last : $last}">
				<div class="header">
					{{ message.from.name ? message.from.name : message.from.email }}
					<span class="counter">
						{{ parsedMap[message.domain].count ? '( +' + parsedMap[message.domain].count + ' )' : ''}}
					</span>
				</div>
				<div class="timestamp">{{ formatDate(message.date) }}</div>
				{{ message.subject }}
			</div>
			<span class="material-icons hourglass_empty_message"
						ng-show="message.selected">
				hourglass_empty
			</span>
			<div class="iframe-container"
					 ng-show="message.selected">
				<iframe class="iframe-message"
								uid="{{ message.id }}"
								onload="onMyFrameLoad($(this))"
								src="{{ message.url }}"></iframe>
			</div>
		</div>
	</div>
</div>

<div class="loading-container"
		 ng-show="!messages || isLoading">
	<span class="material-icons hourglass_empty">
		hourglass_empty
	</span>
</div>

