main {
	font-size: 24px;
	font-family: 'Nanum Gothic Coding', monospace;
	height : 100%;
}

main .main-container {
	padding: 0 !important;
}
main .segment, main .list{
	height: inherit !important;
	overflow : auto;
}

main .list .header {
	margin-bottom: 10px !important;
}

main .list .content{
	margin: 12px;
}

main .seen, main .seen .header  {
	color:gray !important;
}

main .material-icons {
	cursor:pointer;
	margin:10px;
}

main .refresh {
	position: absolute;
	top:0;
	right:20px;
}


main .hourglass_empty {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

main .hourglass_empty_message {
	position: absolute;
	color:#1b1c1d;
	z-index: 1;
	top: 45px;
}

main .iframe-container {
	width: calc(100% - 14px);
	height: 100%;
	position:absolute;
	background-color:#1b1c1d;
	top:0;
}

main .action-bar {
	height: 45px;
}

main .iframe-message {
	width: 100%;
	height: calc(100% - 45px);
	border: 0;
	background-color:#fff;
}
