main {
	font-size: 24px;
	font-family: 'Nanum Gothic Coding', monospace;
}

main .list .header {
	margin-bottom: 10px !important;
}
main .list .content{
	margin: 5px 0;
}
main .seen, main .seen .header  {
	color:gray !important;
}

main .refresh {
	position: absolute;
	top:0;
	right:0;
	cursor:pointer;
	margin:10px;
}

main .hourglass_empty {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

main .hourglass_empty_message {
	position: absolute;
}

main .iframe-message {
	width: 100%;
	height:500px;
	border:0px;
}
